

section {

	margin: 0 auto;
	max-width: 1200px;
	width: 95%;

	article {
		padding: 50px;
		margin-bottom: 50px;
		border-bottom: 5px solid $oxblood;
	}

	.code {
		padding: 15px;
		margin-bottom: 10px;
		background-color: $blackboard;
		color: #fff;
		display: inline-block;
	}

}



.box-style {
	width: 100px;
	height: 100px;
	background-color: $blackboard;
	display: inline-block;
	color: white;
	margin: 20px;
	padding: 10px;


	&.red-font {
		color: red;
	}
}